body{
    background:plum !important;
}
.esquerda{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-right: 10px;
}

.centro{
    color: bisque;
    text-align: center;
}
.formato2{
    color: darkslateblue !important;
    text-align: right;
    font-family: 'Courier New', Courier, monospace
}
a:visited {
    color: aliceblue !important;
}
a:hover{
    color: aqua !important;
}

.btn-primary {
    background-color: darkslateblue !important;
    border-color: darkslateblue !important;    
}
.carousel-control-prev, .carousel-control-next {
    width: 56% !important;
}

